

ul {
    list-style-type: none;
}

header{
    height: 75px;
    width: 100%;
    background-color: dodgerblue;
    color: azure;
    text-align: center;
    justify-content: center;
}

#search{
    margin-top: 12px;
    margin: 5px;
    width: 18%;

}

#searchbtn{
    width: 18%;
    background-color: dodgerblue;
    color: azure;
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
}

#searchbtn:hover{
        border-radius: 15px;
        transition: all 0.5s;
        box-shadow: inset 8px 8px 8px
     dodgerblue, 0 0 3px
     rgb(7, 123, 238);                
}

.previous{
    border-top: 3px solid black;
    margin: 20px;
    width: 20%;
}

.previous li {
    background-color: gainsboro;
    width: 80%;
    height: 30px;
    display: block;
    padding: 10px;
    margin: 10px;
    color: black;
}

.day1{
    position: absolute;
    right: 50px;
    top: 100px;
    width: 60%;
    height: 40%;
    border: black 2px solid;
    font-weight: bold;
    background-color: skyblue;
    border-radius: 10px;
}

.day1 h2{
    position: absolute;
    top: 15px;
    left: 45px;
}

.day1 ul{
    padding: 50px;
    top: 45px;
    left: 45px;
}

.day1 li{
    line-height: 3;
    margin: 10px;
}

#uvi1{
    width: fit-content;
    padding: 4px;
    border-radius: 15px;
}

.day1 #icon1{
    position: absolute;
    right: 35%;
    top: 5%;
}
/* MOVE IMAGE UPWARD IN CONTAINER */
.day1 #icon1 img{
    width: 300%;
    height: auto;
}

.forecast{
    position: absolute;
    right: 50px;
    bottom: 90px;
}

.forecast ul{
    display: inline-block;
    width: 200px;
    height: 250px;
    background-color:skyblue;
    color: black;
    margin: 30px;
    text-align: left;
    border: 1px black solid;
    border-radius: 10px;
}

.forecast ul li{
    line-height: 1;
    padding: 10px;
    
}

/* @media screen and (max-width: 768px) {
    body {
        display: block;
    }
    .forecast ul li {
        display: block;
    }

} */